---
layout: default
title: Blog
---
{% for post in paginator.posts %}
    <!-- To create this page, copy _layouts/post.html and replace `page.` with `post.` -->
    <article>
        <header>
            <h4 class="meta">{{ post.date | date: '%B %e, %Y' }}</h4>
            <h1 class="title">
                <a href="{{ post.url }}" rel="bookmark" title="Permanent Link: {{ post.title }}">
                    {{ post.title }}
                </a>
            </h1>
        </header>

        <section class="entry">
        {{ post.content }}
        </section>
        <section class="share-actions">
            <fb:like
                href="http://blog.thethingdom.com{{ post.url }}/"
                layout="button_count"
                width="90px"
                style="top: -3px;"></fb:like>

            <a href="http://twitter.com/share"
               class="twitter-share-button"
               data-url="http://blog.thethingdom.com{{ post.url }}/"
               data-text="{{ post.title }}"
               data-via="TheThingdom"
               data-related="TheThingdom:The Thingdom">Tweet</a>

            <g:plusone
                size="medium"
                href="http://blog.thethingdom.com{{ post.url }}/"></g:plusone>
        </section>

    </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
<div class="page-links clearfix">   <!-- XXX FIXME manual clearfix here -->
    {% if paginator.previous_page %}
        <a class="newer" href="/page{{paginator.previous_page}}">&larr; Newer</a>
    {% endif %}
    <!-- TODO show paginator.page of paginator.total_pages? -->
    {% if paginator.next_page %}
        <a class="older" href="/page{{paginator.next_page}}">Older &rarr;</a>
    {% endif %}
</div>
{% endif %}
