/*
    #9dbdc6
    #ff3d2e
    #fff
    #deeaef
*/

/*

    Solarized
    http://ethanschoonover.com/solarized

*/
@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #d30102;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;


@brand:     #3a464a;

body {
    background: #fff;
    color: #444;
    font: 16px/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/* HTML 5 compatibility */
article, aside, footer, header, hgroup, nav, section {
    display: block;
}

/* Reset */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* hyperlinks */
a {
    color: #f53b2c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* horizontal rule */
hr {
    background-color: #ccc;
    border: none;
    height: 2px;
    margin: 0.5em 0;
    width: 100%;
}

/* inputs */
input {
    font: 16px/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* images */
img {
    border: none;
}

/* global navigation */
#global-navigation {
    float: right;
}

#global-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#global-navigation ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#global-navigation ul li a {
    display: block;
    font-weight: bold;
    height: 30px;
    padding: 5px 10px;
}

#global-navigation ul li a:hover {
    background: #f53b2c;
    color: #fff;
    text-decoration: none;
}

/* layout */
.container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
    width: 36em;
}

header {
    height: 40px;
    margin: 0;
    padding: 0;
}

.brand {
    color: @brand;
    background: #daeaef;
    height: 100%;

    a {
        color: @brand;
    }

    a:hover {
        text-decoration: none;
    }

    .title {
        font-family: Georgia, serif;
        font-weight: normal;
        font-style: italic;
        font-size: 2em;
        line-height: 125%;
        padding: 0.9em 0 0.1em;
    }

    .meta {
        color: lighten(@brand, 40%);
        padding: 0 0 0.2em;
        text-align: right;
    }
}

.entry {
}

.highlight {
    color: #ff3d2e;
}

#logo {
    margin: 11px 0 7px 0;
    padding: 0;
}

footer {
    font: 14px/1.8 Georgia, serif;
    margin: 0.75em 0;
    text-align: center;
}

/* property classes */
.hidden {
    display: none;
}

/* clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* IE6 */
* html .clearfix {
    zoom: 1;
}

/* IE7 */
*:first-child+html .clearfix {
    zoom: 1;
}
