---
layout: default
---
    <section>
        <header>
            <h4 class="meta">{{ page.date | date: '%B %e, %Y' }}</h4>
            <h1 class="title">
                <a href="{{ page.url }}" rel="bookmark" title="Permanent Link: {{ page.title }}">
                    {{ page.title }}
                </a>
            </h1>
        </header>

    <article id="content">
        <section class="entry">
        {{ content }}
        </section>
        <section class="share-actions">
            <fb:like
                layout="button_count"
                width="90"
                style="top: -3px;"></fb:like>

            <a href="http://twitter.com/share"
               class="twitter-share-button"
               data-text="{{ page.title }}"
               data-via="TheThingdom"
               data-related="TheThingdom:The Thingdom">Tweet</a>

            <g:plusone size="medium"></g:plusone>
        </section>

    </article>
